<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056485373425-sipka65hqhn54pgo4deua2p8b2l6o0fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056485373425-sipka65hqhn54pgo4deua2p8b2l6o0fp</string>
	<key>API_KEY</key>
	<string>AIzaSyA8RNz4LXyQFM9jW78EJZxtwpAhoVN5iSI</string>
	<key>GCM_SENDER_ID</key>
	<string>1056485373425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shop</string>
	<key>PROJECT_ID</key>
	<string>woofs-the-way</string>
	<key>STORAGE_BUCKET</key>
	<string>woofs-the-way.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056485373425:ios:ea88bb9c2a93b57df10050</string>
</dict>
</plist>